$font-color: #222222;
$blue: #0071d1;
$blue-dark: #00529b;
$grey: #f7f9fa;
$grey-dark: #babdbe;
$div: #ebebeb;
$btn-back: #f1f6f8;
$btn-light: #fafcfe;
$green-dark: #008000;
$green-light: #eff7ef;
$green: #dfecdf;
